﻿@model onboardingNET.Models.Task

@{
    ViewBag.Title = "Delete";
}

<center><h2>Delete</h2></center>
<br />
<center><h3>Are you sure you want to delete this?</h3></center>
<div style="width: 100%;">
    <hr />
    <div style="width: 50%;margin: auto;padding: 10px;">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TaskName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FinishDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FinishDate)
            </dd>

        </dl>
    </div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="width: 100%;">
            <div style="width: 50%;margin-right: 50%;padding: 10px;margin-left: 40%;">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", "Tasks", new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
