﻿@model onboardingNET.Models.Users

@{
    ViewBag.Title = "Delete";
}

<center><h2>Delete</h2></center>
<br />
<center><h3>Are you sure you want to delete this?</h3></center>
<div style="width: 100%;">
    <hr />
    <div style="width: 50%;margin: auto;padding: 10px;">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>
    </div>
    <hr />
        @using (Html.BeginForm("DeleteUsers", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)

            <div class="form-actions no-color" style="width: 100%;">
                <div style="width: 50%;margin-right: 50%;padding: 10px;margin-left: 40%;">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index", "Users", new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    
</div>
