﻿
@{
    ViewBag.Title = "Index";
}

<center><h2>User Management</h2></center>
<br />
<a class="btn btn-success" style="float:right" href="Users/Register">Add User</a>
<br />
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Account Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                @if (user.IsDeleted == true)
                {
                    <td>Non-active</td>
                }
                else
                {
                    <td>Active</td>
                }
            <td>
                @Html.ActionLink("Edit", "EditAsync", "Users", new { id = user.Id }, new { @class = "btn btn-default" }) |
                @if (user.IsDeleted == true)
                {
                    @Html.ActionLink("Restore", "RestoreAsync", "Users", new { id = user.Id }, new { @class = "btn btn-primary" })
                }
                else
                {
                    @Html.ActionLink("Delete", "DeleteAsync", "Users", new { id = user.Id }, new { @class = "btn btn-warning" })
                }
            </td>
            </tr>
        }
    </tbody>
</table>